SPRING_PROFILES_ACTIVE=local
DB_URL=jdbc:mysql://localhost:3306/nitrosgames?createDatabaseIfNotExist=true&sslMode=DISABLED&allowPublicKeyRetrieval=true
DB_USERNAME=nitros
DB_PASSWORD=change-me
FLYWAY_BASELINE_ON_MIGRATE=true
APP_STORAGE_HOST_IMAGES_DIRECTORY=uploadImageFileHost
APP_STORAGE_MAX_FILE_SIZE=10MB
APP_STORAGE_MAX_REQUEST_SIZE=11MB
